/* ------ Variables ------ */
/* Colors */
/* Font */
/* ------ Default Styles ------ */
/* Layout */
body {
  width: 100%; }

header {
  display: block;
  position: relative;
  background: #837b4e;
  padding: 1em;
  max-width: 35em;
  height: 15em;
  margin: 0 auto;
  z-index: 4; }

article {
  padding: 1em;
  font-size: 1.3125em;
  line-height: 1.1429em; }

#content {
  display: block;
  position: relative;
  left: -1px;
  padding: 1em;
  max-width: 35em;
  margin: 0 auto;
  background: #e4edbe; }

.top {
  height: 17em;
  display: block;
  width: 100%;
  background: #d3d5ae;
  z-index: -900; }

.project_links {
  list-style-type: none;
  text-align: center;
  margin-top: -2em; }

.project_links li {
  display: inline;
  font-size: 1.125em; }

.week_links {
  padding-left: 1.5em;
  list-style-type: none; }

.leaf_L, .leaf_R {
  display: none; }

.img_right {
  float: right; }

/* SVG Layout/Manipulation */
object.svg_header {
  height: 95%;
  width: 95%; }

.svg_wrapper {
  display: block;
  height: 5em; }

object.svg_bracket {
  display: block;
  width: 100%;
  height: 100%; }

.svg_flip {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.svg_flip_y {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-filter: "FlipH";
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH; }

/* ------ Media Queries -------*/
/* ------ Mobile Portrait ------ */
@media only screen and (min-width: 320px) {
  .svg_wrapper {
    height: 7em; } }
/* ------ Mobile Landscape ------ */
@media only screen and (min-width: 480px) {
  header {
    height: 20em; }

  .top {
    height: 22em; } }
/* ------ Small Tablet ------ */
@media only screen and (min-width: 600px) {
  header {
    height: 25em; }

  .top {
    height: 27em; } }
/* ------ Landscape Tablet / Laptop / + ------ */
@media only screen and (min-width: 1024px) {
  .top {
    background: #837b4e;
    height: 29.74em; }

  .project_links {
    position: absolute;
    text-align: left;
    margin-top: 0;
    top: 4em;
    left: -8em;
    z-index: 100; }

  .project_links li {
    display: block;
    font-size: 1.3125em;
    line-height: 1.4429em;
    -webkit-transform: rotate(-15deg) skewX(-14deg);
    -moz-transform: rotate(-15deg) skewX(-14deg);
    -ms-transform: rotate(-15deg) skewX(-14deg);
    -o-transform: rotate(-15deg) skewX(-14deg);
    transform: rotate(-15deg) skewX(-14deg); }

  .week_links {
    position: absolute;
    top: 4em;
    right: -8em;
    z-index: 100; }

  .week_links li {
    display: block;
    font-size: 1.3125em;
    line-height: 1.4429em;
    -webkit-transform: rotate(15deg) skewX(14deg);
    -moz-transform: rotate(15deg) skewX(14deg);
    -ms-transform: rotate(15deg) skewX(14deg);
    -o-transform: rotate(15deg) skewX(14deg);
    transform: rotate(15deg) skewX(14deg); }

  .c_center {
    width: 40%; }

  .c_left {
    width: 11.7em;
    padding: 0;
    height: 29.8em;
    margin-left: -2em; }

  .c_right {
    width: 11.7em;
    padding: 0;
    height: 29.8em;
    margin-left: -2.1em;
    z-index: -2; }

  .c_center, .c_left, .c_right {
    display: inline;
    float: left; }

  .leaf_L {
    height: 29.8em;
    display: block;
    margin-left: 0em; }

  .leaf_R {
    height: 29.8em;
    width: 11.7em;
    display: block;
    margin-left: 2em; }

  #content {
    margin-top: -2.7em;
    z-index: 3; } }
/* ------ Base Styles ------ */
html {
  background: #d3d5ae;
  font-size: 100%;
  overflow-y: scroll;
  /* Force scrollbar in non-IE and Remove iOS text size adjust without disabling user zoom */
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  min-height: 100%;
  font: 100%/1.5 "Maven Pro", "Century Gothic", sans-serif;
  *font-size: 1em;
  color: #320017;
  -webkit-font-smoothing: antialiased;
  /* Improve default text rendering, handling of kerning pairs and ligatures */
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

p, ul, img {
  margin: 0 0 1.5em;
  padding: 0; }

h1, h3, h6 {
  font-family: "Maven Pro", "Century Gothic", sans-serif;
  font-weight: 900;
  color: #320017;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1); }

h1 {
  margin: 0;
  font-size: 3.75em;
  line-height: 1.2em;
  margin-bottom: 0.4em; }

/* 60px / 72px */
h3 {
  margin: 0;
  font-size: 2.25em;
  line-height: 1.3333em;
  margin-bottom: 0.6667em; }

/* 36px / 48px */
h6 {
  margin: 0;
  font-size: 1.125em;
  line-height: 1.3333em;
  margin-bottom: 0.5em; }

/* 18px / 24px */
p, ul {
  margin: 0;
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 1.5em; }

/* 16px / 24px */
ul, ol {
  list-style-position: inside;
  padding: 0; }

li ul, li ol {
  margin: 0 1.5em; }

a {
  color: #320017;
  text-decoration: none;
  border-bottom: 1px solid; }

a:hover {
  color: #837b4e;
  border-bottom-color: #837b4e; }

a:focus {
  outline: thin dotted; }

a:visited {
  text-decoration: line-through; }

a:hover, a:active {
  outline: none; }

/* Fluid images */
img, object {
  max-width: 100%;
  _width: 100%; }

/* Improve IE's resizing of images */
img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

/* Correct IE9 overflow */
svg:not(:root) {
  overflow: hidden; }

/* Sets the color of text when selected */
::-moz-selection {
  background: #c47529;
  color: #e4edbe;
  text-shadow: none; }

::selection {
  background: #c47529;
  color: #e4edbe;
  text-shadow: none; }

b {
  font-weight: bold; }

/* ------ Clearfix Hack ------ */
.cf:before, .cf:after {
  content: "";
  display: table; }

/* For modern browsers */
.cf:after {
  clear: both; }

.cf {
  zoom: 1; }

/* For IE 6/7 (trigger hasLayout) */
